<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Aplikacja</title>
  <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet"> 
</head>

<body>
  <header class="header">
    <h1 class="header__tittle1">Emi maluje</h1>
    <h2 class="header__tittle2">na tablecie i nie tylko</h2>
    <button class="header__button">Zobacz więcej</button>
    <div class="header__imgBcgContainer">
      <img src="/images/plamasmall.png" alt="" class="header__imgBcg">
    </div>
    <div class="header__imgBigContainer">
      <img src="/images/duze.png" alt="" class="header__imgBig">
    </div>
    <div class="header__imgSmallContainer">
      <img src="/images/big.png" alt="" class="header__imgSmall">
    </div>
    <nav class="navi">
      <ul class="navi__list">
        <li class="navi__listElement"><div class="navi__color"><img src="/images/stroke.png
          " alt="" class="navi__color-img"></div><a href="" class="navi__nav-link">Strona główna</a><div class="navi__listElement-cover"></div></li>
        <li class="navi__listElement"><div class="navi__color"><img src="/images/stroke.png
          " alt="" class="navi__color-img"></div><a href="" class="navi__nav-link">O mnie</a><div class="navi__listElement-cover"></div></li>
        <li class="navi__listElement"><div class="navi__color"><img src="/images/stroke.png
          " alt="" class="navi__color-img"></div><a href="" class="navi__nav-link">Moje prace</a><div class="navi__listElement-cover"></div></li>
        <li class="navi__listElement"><div class="navi__color"><img src="/images/stroke.png" alt="" class="navi__color-img"></div><a href="" class="navi__nav-link">Social Media</a><div class="navi__listElement-cover"></div></li>
        <li class="navi__listElement"><div class="navi__color"><img src="/images/stroke.png" alt="" class="navi__color-img"></div><a href="" class="navi__nav-link">Kontakt</a><div class="navi__listElement-cover"></div></li>
    </ul>
    <button class="navi__close">X</button>
    </nav>
  </header>
  <section class="about">
    <div class="about__bcg">
      <img src="/images/plamasmall.png" alt="" class="about__bcg-img">
    </div>
    <div class="about__container">
      <h1 class="about__tittle">o mnie...</h1>
      <div class="about__content">
        <div class="about__text">Cześć, jestem Emilka. Od kiedy pamiętam maluję i rysuję. W 2019 roku dostałam od świętego Mikołaja tablet graficzny i wtedy zaczęłam na nim malować. Ale niedługo potem odkryłam Procreate - taką aplikację na Ipada i od tamtej pory się z nią nie rozstaję :). Na tej stronie możecie zobaczyć co na razie potrafię w niej namalować. Oprócz tego lubię: tańczyć, śpiewać, pływać, chodzić do: go jump, go air, parku wspinaczkowego. Lubię jeździć na: rolkach, rowerze i hulajnodze. </div>
        <div class="about__images">
          <img src="/images/wiosna.jpg" alt="" class="about__img">
        </div>
      </div>

    </div>
  </section>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
</body>

</html>
