.footer {
  height: 5vh;
  background-color: $lightColor;
  color: $darkColor;
  font-family: $contentFont;
  font-size: $contentSize;
  line-height: 5vh;
  padding-left: 5vw;
  @include mediaq(landscape) {
    height: 15vh;
    line-height: 15vh;
  }
}
