.gallery {
  width: 100vw;
  background-color: $mainColor;
  &__container {
    width: 100%;
    max-width: $maxWidth;
    margin: 0 auto;
  }
  &__tittle {
    font-family: $tittleFont;
    color: $lightColor;
    font-size: 2rem;
    padding: 5vh 0 5vh 10vw;
    opacity: 0;
    transform: translateX(-10%);
  }
  &__paintings {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1em;
  }
  &__img {
    padding: 2vw;
  }
  &__img img {
    display: block;
    width: 100%;
    height: auto;
    box-shadow: 0 0 5px 2px $lightColor;
  }
}
