.gallery {
  // width: 100vw;
  background-color: $mainColor;
  &__container {
    width: 100%;
    max-width: $maxWidth;
    margin: 0 auto;
  }
  &__tittle {
    font-family: $tittleFont;
    color: $lightColor;
    font-size: $tittleSize;
    padding: 5vh 0 2vh 10vw;
    opacity: 0;
    transform: translateX(-10%);
    text-decoration: underline 3px;
    @include mediaq(smartphone) {
      font-size: $tittleSize * 1.2;
    }
    @include mediaq(smartphone-large) {
      font-size: $tittleSize * 1.5;
    }
  }
  &__description {
    font-family: $contentFont;
    color: $lightColor;
    font-size: $contentSize * 1.1;
    margin: 0 auto;
    text-align: center;
    padding: 0 5vw 5vh 5vw;
    transform: translateX(10%);
    opacity: 0;
    @include mediaq(smartphone) {
      font-size: $contentSize * 1.1;
    }
    @include mediaq(smartphone-large) {
      font-size: $contentSize * 1.3;
    }
  }
  &__paintings {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
  }
  &__img {
    padding: 0 4vw 4vw 4vw;
    text-decoration: none;
    text-align: center;
    color: $lightColor;
    font-family: $contentFont;
    font-size: 1.5rem;
  }
  &__img img {
    display: block;
    width: 100%;
    height: auto;
    box-shadow: 0 0 5px 2px $lightColor;
    @include mediaq(smartphone-large) {
      box-shadow: 0 0 10px 5px $lightColor;
    }
  }
}
