.social {
  background-color: $lightColor;
  &__tittle {
    padding-top: 5vh;
    font-family: $tittleFont;
    color: $darkColor;
    padding-left: 10vw;
    padding: 5vh 0 5vh 10vw;
  }
  &__container {
    width: 100%;
    max-width: $maxWidth;
    margin: 0 auto;
  }
  &__tiktok {
    display: flex;
    width: 100%;
    padding: 0 5vw 5vw 5vw;
  }
  &__youtube {
    display: flex;
    width: 100%;
    padding: 0 5vw 5vw 5vw;
  }
  &__svg {
    width: 30%;
    height: 30vw;
  }
  &__paragraph {
    width: 70%;
    font-family: $tittleFont;
    font-size: 0.7rem;
    padding: 10vw 2vw 5vw 5vw;
    text-align: justify;
  }
}
